### Write a Python script to sort (ascending and descending) a dictionary by value.

In [8]:
d={0: 10, 1: 20,2:9,3:23,4:8}
d.values()

dict_values([10, 20])

### Write a Python script to add a key to a dictionary.

In [10]:
d={0: 10, 1: 20}
d[2]=30
d

{0: 10, 1: 20, 2: 30}

### Write a Python script to concatenate the following dictionaries to create a new one.

In [4]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dica={}
dica.update(dic1)
dica.update(dic2)
dica.update(dic3)
dica

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### Write a Python script to check whether a given key already exists in a dictionary.If exists then print the value corresponding to that key else print "key not found" error message.

In [5]:
dica.get(6,"key not found")

60

### Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x^3). Take n from user

In [17]:
n= int(input("Enter number: "))
cube={}
for i in range(1,n+1):
    cube[i]=i**3
cube

Enter number: 5

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

### Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [18]:
sqr={}
for i in range(1,16):
    sqr[i]=i**2
sqr

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

### Convert two lists into a dictionary

In [19]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
kv={}
for i in range(3):
    kv[keys[i]]=values[i]
kv

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

### Merge two Python dictionaries into one

In [20]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

### Delete a list of keys from a dictionary

In [31]:
sample_dict = {
"name": "Kelly",
"age": 25,
"salary": 8000,
"city": "New york"
}
keys = ["name", "salary"]
for i in keys:
    del sample_dict[i]
sample_dict

{'age': 25, 'city': 'New york'}

### Rename key of a dictionary

In [59]:
sample_dict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
v=sample_dict.get("city")
sample_dict.pop("city")
sample_dict.update({'location':v})
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

### Get the key of a minimum value from the following dictionary

In [57]:
t = {
'Physics': 82,
'Math': 65,
'history': 75
}
v=tuple(t.values())
m=v.index(min(v))
k=list(t.keys())
k[m]

'Math'

### Write a Python program to change Brad’s salary to 8500 in the following dictionary.

In [7]:
sample_dict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict.get('emp3').update({'salary':8500})
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

### Print the value of key ‘history’ from the below dict

In [10]:
sampleDict = {
"class": {
"student": {
"name": "Mike",
"marks": {
"physics": 70,
"history": 80
}
}
}
}
sampleDict.get('class').get('student').get('marks').get('history')

80

### Write a Python program to combine two dictionary by adding values for common keys.

In [18]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d11=list(d1.items())
d22=list(d2.items())

for i in range(len(d11)):
    if d11[i][0] ==d22[i][0]:
        d1.update({d11[i][0]:d11[i][1]+d22[i][1]})
    else:
        d1.update({d11[i][0]:d11[i][1]})
        d1.update({d22[i][0]:d22[i][1]})
d1

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

### Write a Python program to print all distinct values in a dictionary.

In [36]:
s1= [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
v=[]
vv=[]
for i in range(len(s1)):
    v.append(list(s1[i].values()))
    vv.append(v[i][0])
vv=set(vv)
vv

{'S001', 'S002', 'S005', 'S007', 'S009'}

### Write a Python program to combine values in a list of dictionaries.

In [9]:
d=[{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
dd=[]
for i in d:
    dd.append(list(i.values()))
ddd=[]
if dd[0][0]==dd[1][0]:
    ddd.append([dd[0][0],dd[0][1]+dd[1][1]])
    ddd.append([dd[2][0],dd[2][1]])
elif dd[1][0]==dd[2][0]:
    ddd.append([dd[1][0],dd[1][1]+dd[2][1]])
    ddd.append([dd[0][0],dd[0][1]])
elif dd[0][0]==dd[2][0]:
    ddd.append([dd[0][0],dd[0][1]+dd[2][1]])
    ddd.append([dd[1][0],dd[1][1]])
ddd=dict(ddd)
ddd

{'item1': 1150, 'item2': 300}

In [12]:
dd[1][0]

'item2'