### 1. Print first 10 numbers using a for loop

In [4]:
a=0
for i in range(10):
    a=a+1
    print(a)

1
2
3
4
5
6
7
8
9
10

### 2.Calculate the square of each number of list of 1-100 numbers

In [7]:
a=0
for i in range(100):
    a=(a+1)
    sq=a**2
    print(sq)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801
10000

### 3. Calculate the sum of all even numbers from 1-100

In [13]:
a=range(1,101)
b=0
for i in a:
    if i%2==0:
        b=b+i
b

2550

### 4. Write a Program to print the table of the number entered by user.

In [14]:
tab= int(input("Enter the number of which you want table: "))
a=0
for i in range(1,11):
    a= tab* i
    print(f"{tab} * {i} = {a}")

Enter the number of which you want table: 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

### 5. Write a Program to find the factorial of the number enetered by user.

In [16]:
a=int(input("Number to do factorial:" ))
series=range(1,a+1)
Fact=1
for i in series:
    Fact= Fact* i
print(f"Factorial of {a} is {Fact}")

Number to do factorial:5
Factorial of 5 is 120

### 6. Write a Program to check if the number is prime or not (Hint: Prime number is divisble by 1 and the number itself!)

In [17]:
a=int(input("Enter Number: "))
rg= range(2,a)
r=0
for i in rg:
    if a%i== 0:
        r=i
if r==0:
    print(f"{a} is a Prime Number")
else: 
    print(f"{a} is not a Prime Number")

Enter Number: 11
11 is a Prime Number

### 7. Write a Program to print sum of all odd number between 12 and 37 (12 and 37 included)

In [19]:
a=range(12,38)
sum=0
for i in a:
    if i%2 != 0:
        sum=sum+i
print(sum)

325

### 8. Write a Program to find whether the number entered by user is perfect number or not (Hint: Perfect number is the number where the divisors sum is the number itself!)
#### For example, 6 is perfect number because the divisors of 6 are : 1,2,3 and 1+2+3 is 6

In [20]:
w=int(input("Input your number:"))
a=range(1,w,1)
div=[]
for b in a:
    if w%b==0:
        div.append(b)
r=0
for p in div:
    r=r+p
if r==w:
    print("Perfect number")
else:
    print("Not Perfect number")

Input your number:496
Perfect number

### 9. Write a Program to find the sum of following (accepted values a,r and n from user)
### a + ar + ar2 + ar3 + .... + arn

In [21]:
a=int(input("Enter you a: "))
r=int(input("Enter you r: "))
n=int(input("Enter you n: "))
nrg=range(n+1)
arn=0
sum= 0
for i in nrg:
    arn= a*(r**n)
    sum= sum+arn
sum

Enter you a: 5
Enter you r: 2
Enter you n: 4

400

### 10. Write a Program in python to append suffix in each word of the string.
#### I/P: "Play Work Sleep Eat"
#### O/P: "Playing Working Sleeping Eating"

In [28]:
a="Play Work Sleep Eat"
aa= a.split(" ")
ing=[]
for i in aa:
    ing.append(i+"ing")
ing
stat= ing[0]+" "+ing[1]+" "+ing[2]+" "+ing[3]
stat

'Playing Working Sleeping Eating'

### 11. Display Fibonacci series up to 10 terms
#### Example: 1,2,3,5,8,13,21,34

In [29]:
fib=[0,1]
for i in range(8):
    fib.append(fib[-1]+fib[-2])
fib

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 12. Calculate the cube of all numbers from 1 to a given number

In [30]:
c=int(input("Enter number: "))
crg=range(1,c+1)
cube=[]
for i in crg:
    cube.append(i**3)
cube

Enter number: 10

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 13. Display numbers from -10 to -1 using for loop

In [31]:
a=[]
for i in range(1,11):
    a.append(i*-1)
a=sorted(a)
a

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

### 14. Count the total number of digits in a number

In [32]:
num = 9157533170
count=0
for i in str(num):
    count=count+1
count

10

### 15. Print "Done" after successful execution of for loop

In [40]:
a=int(input("Enter a number: "))
for i in range(a+1):
    print(i)
    if i == a:
        print("Done!")

Enter a number: 10
0
1
2
3
4
5
6
7
8
9
10
Done!

### 16. Calculate the cube of all numbers from 1 to a given number

In [41]:
c=int(input("Enter number: "))
crg=range(1,c+1)
cube=[]
for i in crg:
    cube.append(i**3)
cube

Enter number: 11

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331]

### 17. Write a Program to check if a given string is a pangram. (contains all letters of the alphabet)

In [1]:
a=input("Enter a string: ")
a=a.lower()
abc="qwertyuiopasdfghjklzxcvbnm"
c=[]
for i in abc:
    if i in a:
        c.append("y")
    else:
        c.append("n")
if "n" in c:
    print("String isn't Pangram")
else:
    print("String is Pangram")

Enter a string: yiydas asdhuhdsa asdhhda hdos siai a qoqpnc nmz,nodqnqw ehqpcnasnxzmqopqjc coaoqldjfbvt
String isn't Pangram

### 18. Given a list of names, print all names starting with the letter 'A'

In [46]:
nlist=["Darshan","Harsh","Chirag","Jayesh","Amisha","Prem","Ayush","Preet","Arpit"]
aname=[]
for i in nlist:
    if "A" in i[0:1:1]:
        aname.append(i)
aname

['Amisha', 'Ayush', 'Arpit']

### 19. Create a loop that prints all prime numbers between 1 and 50.

In [52]:
prime=[]
p=[]
for i in range(1,51):
    for e in range(1,i):
        if i%e == 0:
            p.append(e)
    if len(p)==1:
        prime.append(i)
    p=[]
prime

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 20. Given a list of words, count the number of words with more than 5 characters.

In [54]:
nlist=["Darshan","Harsh","Chirag","Jayesh","Amisha","Prem","Ayush","Preet","Arpit"]
n5=[]
c=0
for i in nlist:
    for e in i:
        c=c+1
    if c>5:
        n5.append(i)
    c=0
n5

['Darshan', 'Chirag', 'Jayesh', 'Amisha']

### 21. Calculate the sum of all digits given in a string format
### I/P : s= "12345"

In [56]:
s="12345"
sum=0
for i in s:
    sum=sum+int(i)
sum

15