## Function Assignment

### Q -1.Write a program that asks the user for two numbers. Then ask them if they would like to add, subtract, divide, or multiply these numbers. Perform the chosen operation on the values, showing the operation being performed. Write four functions, one for each mathematical operation.
#### Example: add(), subtract(), Multiply(), and Divide() functions should be written to perform calculations.

In [3]:
def add(n1,n2):         
    ''' it sums 2 number '''
    add= n1+n2
    return add
def sub(n1,n2):         
    ''' it subtracts 2 number '''
    sub= n1-n2
    return sub
def multi(n1,n2):         
    ''' it multiplies 2 number '''
    multi= n1*n2
    return multi
def div(n1,n2):         
    ''' it divides 2 number '''
    div= n1/n2
    return div

In [5]:
print(add(10,5))
print(sub(10,5))
print(multi(10,5))
print(div(10,5))

15
5
50
2.0

### Q-2. Write a function called favorite_book() that accepts two parameter, title and author. The function should print a message, such as "Ansi C by E Balagurusamy". Call the function, make sure to include a book title and author as an argument in the function call.

In [6]:
def fav_book(au,by):
    print(f"{au} by {by}")

In [7]:
fav_book("Ansi C", "E Balagurusamy")

Ansi C by E Balagurusamy

### Q-3. Write a function called is_leap() that accepts one parameter i.e. year. The function should check whether the year is a leap year or not.

In [10]:
def is_leap(y):
    if y%4==0:
        print(f"{y} is a leap year.")
    else:
        print(f"{y} is not a leap year")

In [11]:
is_leap(2024)

2024 is a leap year.

### Q-4. Write a Python function to find the maximum of three numbers.

In [15]:
def n_max(nums,n):
    nums_list=sorted(list(nums),reverse=True)
    max_n=[]
    for i in range(n):
        max_n.append(nums_list[i])
    print(tuple(max_n))

In [16]:
n=(2,3,34,2,4,12,4,1,42,4,21,42,54)
n_max(n,3)

(54, 42, 42)

### Q-5. Write a Python function to multiply all the numbers in a list.
#### Sample List : (8, 2, 3, -1, 7)
#### Expected Output : -336

In [25]:
def prod(n):
    m=1
    for i in n:
        m*=i
    print(m)

In [26]:
n=[8,2,3,-1,7]
prod(n)

-336

### Q-6. Write a Python program to reverse a string.
#### Sample String : "1234abcd"
#### Expected Output : "dcba4321"

In [31]:
def rev(st):
    print(st[::-1])

In [32]:
rev("Darshan")

nahsraD

### Q-7. Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [35]:
def factorial(n):
    f=1
    for i in range(1,n+1):
        f*=i
    print(f)

In [36]:
factorial(5)

120

### Q-8. Write a Python function that accepts a string and counts the number of upper and lower case letters.
#### Sample String : 'The quick Brow Fox'
#### Expected Output :
#### No. of Upper case characters : 3
#### No. of Lower case Characters : 12

In [37]:
def uplo(st):
    up="QWERTYUIOPASDFGHJKLZXCVBNM"
    lo="qwertyuiopasdfghjklzxcvbnm"
    nup=0
    nlo=0
    for i in st:
        if i in up:
            nup+=1
        if i in lo:
            nlo+=1
    print(f"No. of Upper case characters : {nup}")
    print(f"No. of Lower case Characters : {nlo}")

In [38]:
uplo('The quick Brow Fox')

No. of Upper case characters : 3
No. of Lower case Characters : 12

### Q-9. Write a Python function that takes a list and returns a new list with distinct elements from the first list.

In [42]:
def dist(l):
    s=set(l)
    ll=list(s)
    print(ll)

In [44]:
l=["Darshan",22,True,"Viramgama",22,"Darshan"]
dist(l)

[True, 'Viramgama', 'Darshan', 22]

### Q-10. Write a Python program to print the even numbers from a given list.

In [47]:
def even(l):
    el=[]
    for i in l:
        if i%2 == 0:
            el.append(i)
    print(el)

In [81]:
l=[23,4,2,4,4,36,5,67,3,3,5,7]
even(l)

[4, 2, 4, 4, 36]

### Q-11. Write a Python function that checks whether a passed string is a palindrome or not.
#### Note: A palindrome is a word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [55]:
def is_palindrome(st):
    stt=st.lower()
    ts=stt[::-1]
    if stt==ts:
        print(f"{st} is a palindrome")
    else:
        print(f"{st} is not a palindrome")

In [56]:
is_palindrome("Madam")

Madam is a palindrome

### Q-12. Write a Python function to check whether a string is a pangram or not.
#### Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
#### For example : "The quick brown fox jumps over the lazy dog"

In [63]:
def is_pangram(st):
    al="qwertyuiopasdfghjklzxcvbnm"
    stt=st.lower()
    n=0
    for i in al:
        if i not in stt:
            print("Sentence is not a pangram.")
            break
        else:
            n+=1
        if n==26:
            print("Sentence is pangram")

In [66]:
is_pangram("The quick brown fox jumps over the lazy dog")

Sentence is pangram

### Q-13. Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.
#### Sample Items : green-red-yellow-black-white
#### Expected Result : black-green-red-white-yellow

In [82]:
def sortbyhyphen(st):
    sp=st.split("-")
    sp=tuple(sorted(sp))
    sp="-".join(sp)
    print(sp)

In [84]:
sortbyhyphen("green-red-yellow-black-white")

black-green-red-white-yellow

### Q-14. Write a Python function to create and print a list where the values are the squares of numbers between 1 and 30 (both included).

In [85]:
def sqr(n):
    sq=[]
    for i in range(1,n+1):
        sq.append(i**2)
    print(sq)

In [86]:
sqr(30)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

### Q-15. Write a program to create a function show_employee() using the following conditions.
#### It should accept the employee’s name and salary and display both.
#### If the salary is missing in the function call then assign default value 9000 to salary

In [87]:
def show_employee(n,s=9000):
    print(f"Employee name: {n} and Salary: {s}")

In [88]:
show_employee("Darshan")

Employee name: Darshan and Salary: 9000

### Q-16. Write a program to swap two numbers.
#### Before swap : 17 24
#### After swap : 24 17

In [91]:
def SwapTwoNumbers(a,b):
    print("Before Swap: ",a,b)
    a = a+b
    b = a-b
    a = a-b
    print("After Swap: ",a,b)

In [92]:
SwapTwoNumbers(17,24)

Before Swap:  17 24
After Swap:  24 17